<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neonicotinoid Monitoring Program</title>
    <!-- Link to external CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Neonicotinoid Monitoring Program</h1>
    </header>
    <main>
        <h2>Select a Site</h2>
        <b>
            {% for site in sites %}
            <li><a href="{{ url_for('index', site_ID=site) }}">{{ sites[site]["site_name"] }}</a></li>
            {% endfor %}
        </b>
    </main>
</body>
      <!-- Map here -->
    <div style="margin-top: 20px; margin-bottom: 40px; text-align: center;">
    <iframe src="/sites_map" width="800" height="800"></iframe>

    <footer>
        <p>&copy; 2025 Neonicotinoid Monitoring Program</p>
    </footer>
</body>
</html>
